* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Layout */

.inner-container,
.portfolio .inner-container .portfolio-heading {
  padding: 50px 30px;
}

.about .inner-container {
  padding: 0 30px 50px 30px;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.max-width {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.inner-container.no-padding {
  padding: 0;
}

.x-small-gap {
  gap: 20px;
}

.small-gap {
  gap: 30px;
}

.large-gap {
  gap: 50px;
}

/* Body */

body {
  background-color: #f2f2f2;
}

h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

.hero-bg img {
  height: auto;
  max-height: 315px;
  width: 100%;
  filter: brightness(0.85);
  background-position: 50% 100%;
}

.hero-headshot {
  background-image: url(./assets/hero-headshot.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.hero-headshot,
.hero-value-proposition {
  z-index: 99;
}

.hero-cards .inner-container {
  margin-top: -50px;
  padding: 0 30px 50px 30px;
}

.hero-value-proposition {
  background-color: #ffffff;
  padding: 30px 20px;
  text-align: center;
}

.hero-value-proposition p,
.small-heading {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #454545;
  border: solid 2px #454545;
}

.secondary-heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
}

.tertiary-heading {
  font-size: 1.875rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

/* About - Image Right, Content Left  */

.primary-heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
}

.image-right-content-left .content {
  text-align: center;
}

.content {
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

body .light-font {
  color: #ffffff;
}

.about .inner-container .image-right-content-left .content p,
.body-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #111111;
}

.small-heading {
  margin-bottom: 0;
}

.about .inner-container .image-right-content-left .image {
  background-image: url(./assets/city-scape.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

/* Certifications */

.certifications,
.footer {
  background-color: #000000;
}

.certifications-description,
.certifications .inner-container .three-columns .certification-item {
  text-align: center;
  color: #ffffff;
}

.certifications-description {
  width: 100%;
  max-width: 665px;
  margin: 0 auto;
}

.certifications .inner-container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.certification-item .tertiary-heading {
  width: 60%;
}

/* Advantages */

.advantages {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.advantages .inner-container .left-col .inner-left-col-wrapper,
.advantages .inner-container .right-col .inner-right-col-wrapper {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 30px;
}

.advantages .inner-container .left-col p,
.team .inner-container .image-left-content-right .content p {
  padding-bottom: 10px;
}

.advantages .inner-container .middle-col {
  background-image: url(./assets/bulldozer.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 453px;
}

.advantages .inner-container .right-col h2:first-of-type {
  padding-bottom: 30px;
}

/* Portfolio */

.portfolio {
  width: 100%;
  background-color: #000000;
}

.portfolio .inner-container .portfolio-heading {
  text-align: center;
}

.portfolio-heading .small-heading {
  padding-bottom: 20px;
}

.portfolio-gallery .portfolio-gallery-items {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 343px;
}

.portfolio-gallery .portfolio-gallery-item-1 {
  background-image: url(./assets/skyscraper-1.png);
}

.portfolio-gallery .portfolio-gallery-item-2 {
  background-image: url(./assets/skyscraper-2.png);
}

.portfolio-gallery .portfolio-gallery-item-3 {
  background-image: url(./assets/skyscraper-3.png);
}

.portfolio-gallery .portfolio-gallery-item-4 {
  background-image: url(./assets/skyscraper-4.png);
}

.portfolio-gallery .portfolio-gallery-item-5 {
  background-image: url(./assets/skyscraper-5.png);
}

.portfolio-gallery .portfolio-gallery-item-6 {
  background-image: url(./assets/skyscraper-6.png);
}

.portfolio-gallery .portfolio-gallery-item-7 {
  background-image: url(./assets/skyscraper-7.png);
}

.portfolio-gallery .portfolio-gallery-item-8 {
  background-image: url(./assets/skyscraper-8.png);
}

/* Team */

.team {
  background-color: #ffffff;
}

.team .inner-container .image-left-content-right .image {
  margin: 0 auto;
}

.team .inner-container .image-left-content-right .image img {
  height: 294px;
  margin-bottom: 30px;
}

.team .inner-container .image-left-content-right .content {
  text-align: center;
  gap: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 500px;
}

/* Footer */

.footer .inner-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.top-left-half-footer,
.top-right-half-footer {
  gap: 30px;
}

.top-right-half-footer {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}

.footer .footer-signature {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 50px 30px;
  background-color: #333333;
}

.footer .footer-signature a {
  color: #adcce9;
  text-decoration: underline;
}

.footer .footer-signature a:hover {
  color: #a1a1a1;
  text-decoration: none;
}

.footer-text {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
}

.address {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.top-right-half-footer table {
  width: 100%;
  max-width: 200px;
}

.top-right-half-footer table tbody tr td:nth-child(odd) {
  text-align: left;
}

.top-right-half-footer table tbody tr td:nth-child(even) {
  text-align: right;
}

/* Media Queries */

@media screen and (min-width: 350px) {
  .main-heading h1 {
    width: 75%;
    margin: 0 auto;
  }
  .hero-headshot {
    height: 300px;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  .hero-bg img {
    height: auto;
    max-height: 420px;
  }
  .hero-headshot {
    height: 400px;
  }
  .about .inner-container .image-right-content-left .image {
    height: 550px;
  }
  /* Advantages */
  .advantages .inner-container .middle-col {
    min-height: 550px;
  }
  /* Footer */
  .footer .inner-container {
    max-width: 500px;
  }
}

@media screen and (min-width: 600px) {
  .team .inner-container .image-left-content-right .image {
    margin-bottom: 50px;
  }
  /* Team */
  .team .inner-container .image-left-content-right .image img {
    height: auto;
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 641px) {
  .hero-cards .inner-container {
    margin: -50px auto 0 auto;
    max-width: 550px;
  }
}

@media screen and (min-width: 641px) {
  h1 {
    font-size: 3.5rem;
  }
  .flex-mobile-row-641 {
    flex-direction: row;
  }
  /* Hero Cards */
  .hero-cards .inner-container {
    width: 100%;
    margin: -200px auto 0 auto;
    gap: 20px;
    min-height: 320px;
  }
  .hero-headshot {
    height: auto;
    margin-bottom: 0;
  }
  .hero-headshot,
  .hero-value-proposition {
    flex-grow: 1;
    width: 45%;
  }
  .hero-value-proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* About - Image */
  .about .inner-container .image-right-content-left .image {
    flex: 0 0 38.333333333%;
    width: 38.333333333%;
  }
  .about .inner-container .image-right-content-left .content {
    flex: 0 0 61.66666667%;
    width: 61.66666667%;
    padding-right: 30px;
  }
  .about .inner-container {
    padding: 0 30px 50px 30px;
  }
  .content {
    padding-bottom: 0;
  }
  .primary-heading {
    font-size: 2rem;
  }
  /* Certifications */
  .three-columns {
    flex-wrap: wrap;
  }
  .three-columns .certification-item {
    flex: 1;
    width: 50%;
  }
  .certifications .inner-container {
    max-width: 100%;
  }
  .certifications-description {
    width: 100%;
    max-width: 400px;
  }
  .certifications .inner-container .three-columns {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .certification-item .tertiary-heading {
    font-size: 1.675rem;
    width: 100%;
  }
  /* Advantages */
  .advantages .inner-container {
    padding-top: 50px;
    flex-wrap: wrap;
  }
  .advantages .inner-container .left-col,
  .advantages .inner-container .middle-col {
    flex: 50%;
    width: 50%;
  }
  .advantages .inner-container .right-col {
    flex: 100%;
    width: 100%;
  }
  .advantages .inner-container .left-col .inner-left-col-wrapper {
    padding: 0 30px;
  }
  .advantages .inner-container .right-col .inner-right-col-wrapper {
    max-width: 650px;
  }
  .advantages .inner-container .middle-col {
    min-height: 390px;
  }
  /* Portfolio */
  .portfolio-gallery .portfolio-gallery-items {
    height: 545px;
  }
}

@media screen and (min-width: 642px) and (max-width: 767px) {
  .hero-cards .inner-container {
    max-width: 627px;
  }
}

@media screen and (min-width: 768px) {
  .inner-container {
    padding: 80px 50px;
  }
  .about .inner-container {
    padding: 0 50px 80px 50px;
  }
  h1 {
    font-size: 4rem;
  }
  .hero-cards .inner-container {
    max-width: 768px;
    min-height: 360px;
    margin: 0 auto;
    margin-top: -175px;
    padding: 0 50px 80px 50px;
  }
  /* Certifications */
  .certifications .inner-container .three-columns {
    max-width: 650px;
  }
  .certifications-description {
    max-width: 500px;
  }
  .three-columns .certification-item {
    width: 30%;
    flex: 30%;
  }
  /* Advantages */
  .advantages .inner-container {
    padding: 80px 0;
  }
  .advantages .inner-container .left-col .inner-left-col-wrapper {
    padding: 0 50px;
  }
  .advantages .inner-container .right-col .inner-right-col-wrapper {
    padding: 80px 0 0 0;
  }
  /* Portfolio */
  .portfolio .portfolio-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio .portfolio-gallery .portfolio-gallery-items {
    flex: 50%;
    width: 50%;
    height: 363px;
  }
  /* Team */
  .team .inner-container .image-left-content-right {
    flex-direction: row;
    gap: 30px;
  }
  .team .inner-container .image-left-content-right .image {
    flex: 50%;
    justify-content: center;
    width: 50%;
    height: 340px;
    margin-bottom: 0;
  }
  .team .inner-container .image-left-content-right .content {
    flex: 50%;
    width: 50%;
  }
  /* Footer */
  .footer .inner-container {
    max-width: 1140px;
    gap: 50px;
  }
  .footer .inner-container .top-half-footer {
    flex-direction: row;
  }
  .top-left-half-footer,
  .top-right-half-footer {
    flex: 50%;
    width: 50%;
    max-width: 100%;
  }
  .footer .footer-signature {
    padding: 50px;
  }
}

@media screen and (min-width: 880px) {
  h1 {
    font-size: 4.5rem;
  }
  .hero-cards .inner-container {
    min-height: 400px;
  }
  /* About - Content */
  .about .inner-container .image-right-content-left .content .primary-heading,
  .about .inner-container .image-right-content-left .content .small-heading {
    max-width: 416px;
  }
  .primary-heading {
    font-size: 3rem;
  }
  /* Certifications */
  .certifications .inner-container .three-columns {
    max-width: 1000px;
  }
  .certifications-description {
    max-width: 610px;
  }
  .certification-item .tertiary-heading {
    width: 70%;
  }
  /* Advantages */
  .advantages .inner-container .left-col,
  .advantages .inner-container .middle-col,
  .advantages .inner-container .right-col {
    flex: 30%;
    width: 30%;
  }
  .advantages .inner-container .right-col .inner-right-col-wrapper {
    padding: 0 50px;
  }
  .advantages .inner-container .middle-col {
    min-height: 418px;
  }
  .advantages .inner-container .right-col .inner-right-col-wrapper {
    height: 100%;
    justify-content: space-around;
  }
  /* Portfolio */
  .portfolio .portfolio-gallery .portfolio-gallery-items {
    flex: 25%;
    width: 25%;
    height: 237px;
  }
}

@media screen and (min-width: 1200px) {
  /* Certifications */
  .certifications .inner-container .three-columns.small-gap {
    gap: 50px;
  }
  /* Advantages */
  .advantages .inner-container .middle-col {
    min-height: 507px;
  }
  /* Portfolio */
  .portfolio .portfolio-gallery .portfolio-gallery-items {
    height: 287px;
  }
}
