* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */

body {
  background-color: #F2F2F2;
}

h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

.hero-bg img {
  height: auto;
  max-height: 315px;
  width: 100%;
  filter: brightness(0.85);
  background-position: 50% 100%;
}

.hero-headshot {
  background-image: url(./assets/hero-headshot.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.hero-headshot,
.hero-value-proposition {
  z-index: 99;
}

.hero-cards .inner-container {
  margin-top: -50px;
  padding: 0 30px 50px 30px;
}

.hero-value-proposition {
  background-color: #ffffff;
  padding: 30px 20px;
  text-align: center;
}

.hero-value-proposition p,
.about .inner-container .image-right-content-left .content .subhead {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #454545;
  border: solid 2px #454545;
}

/* About - Image Right, Content Left  */

.about-heading {
  font-family: Titillium Web, sans-serif;
  font-size: 3rem;
}

.image-right-content-left .content {
  text-align: center;
}

.content {
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

.about .inner-container .image-right-content-left .content p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #111111;
}

.about .inner-container .image-right-content-left .content .subhead {
  margin-bottom: 0;
}

.about .inner-container .image-right-content-left .image {
  background-image: url(./assets/city-scape.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

/* Layout */

.inner-container {
  padding: 50px 30px;
}

.about .inner-container {
  padding: 0 30px 50px 30px;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.max-width {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.inner-container.no-padding {
  padding: 0;
}

/* Media Queries */

@media screen and (min-width: 350px) {
  .main-heading h1 {
    width: 75%;
    margin: 0 auto;
  }
  .hero-headshot {
    height: 300px;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  .hero-bg img {
    height: auto;
    max-height: 420px;
  }
  .hero-headshot {
    height: 400px;
  }
  .about .inner-container .image-right-content-left .image {
    height: 450px;
  }
}

@media screen and (max-width: 641px) {
  .hero-cards .inner-container {
    max-width: 90%;
    margin: -50px auto 0 auto;
  }
}

@media screen and (min-width: 641px) {
  h1 {
    font-size: 3.5rem;
  }
  .flex-mobile-row-641 {
    flex-direction: row;
  }
  /* Hero Cards */
  .hero-cards .inner-container {
    width: 100%;
    margin-top: -200px;
    gap: 20px;
    min-height: 320px;
  }
  .hero-headshot {
    height: auto;
    margin-bottom: 0;
  }
  .hero-headshot, .hero-value-proposition {
    flex-grow: 1;
    width: 45%;
  }
  .hero-value-proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* About - Image */
  .about .inner-container .image-right-content-left .image {
    flex: 0 0 38.333333333%;
    width: 38.333333333%;
  }
  .about .inner-container .image-right-content-left .content {
    flex: 0 0 61.66666667%;
    width: 61.66666667%;
    padding-right: 30px;
  }
  .about .inner-container {
    padding: 0 30px 50px 30px;
  }
  .content {
    padding-bottom: 0;
  }
  .about-heading {
    font-size: 2rem;
  }
}

@media screen and (min-width:768px) {
  .inner-container {
    padding: 80px 50px;
  }
  .about .inner-container {
    padding: 0 50px 80px 50px;
  }
  h1 {
    font-size: 4rem;
  }
  .hero-cards .inner-container {
    max-width: 768px;
    min-height: 360px;
    margin: 0 auto;
    margin-top: -175px;
    padding: 0 50px 80px 50px;
  }
}

@media screen and (min-width: 880px) {
  h1 {
    font-size: 4.5rem;
  }
  .hero-cards .inner-container {
    min-height: 400px;
  }
  /* About - Content */
  .about .inner-container .image-right-content-left .content .about-heading,
  .about .inner-container .image-right-content-left .content .subhead {
    max-width: 416px;
  }
  .about-heading {
    font-size: 3rem;
  }
}